@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.checkout{
    background-color: #3d3d3d;
    height: 39.6875rem;
    border-top: .125rem #f8ff86;
    border-style: double;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 9.375rem;
}

.checkout-text{
    padding-top: 1.25rem;
    color: #e7e7e7;
    font-size: 2.1875rem;
}

.inputs{
    padding-top: 3.125rem;
    display: flex;
    gap: 1.25rem;
}

.send-button{
    padding-top: 3.125rem;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-text{
    color: #f8ff86;
    font-size: 2.8125rem;
    padding-top: 7.5rem;
}

.order-id{
    color: #e7e7e7;
    font-size: 1.875rem;
    padding-top: 1.875rem;
}

.more-products{
    color: #e7e7e7;
    padding-top: 3.75rem;
    font-size: 2.1875rem;
}

.buttom-home{
    padding-top: 1.875rem;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}