.checkout{
    background-color: #3d3d3d;
    height: 37.5rem;
    border-top: .125rem #f8ff86;
    border-style: double;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 9.375rem;
}

.checkout-text{
    color: #e7e7e7;
}

.inputs{
    padding-top: 3.125rem;
    display: flex;
    gap: 1.25rem;
}

.send-button{
    padding-top: 3.125rem;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-text{
    color: #f8ff86;
    font-size: 2.8125rem;
    padding-top: 6.25rem;
}

.order-id{
    color: #e7e7e7;
    font-size: 1.875rem;
    padding-top: 1.875rem;
}

.more-products{
    color: #e7e7e7;
    padding-top: 3.75rem;
    font-size: 2.1875rem;
}

.buttom-home{
    padding-top: 1.875rem;
}