@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    padding-left: 2.5rem;
    padding-right: 2.1875rem;
    background-color: #3d3d3d;
}

.logo{
    a{
        color: #f8ff86;
        text-decoration: none;
        font-size: 1.875rem;
    }
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    gap: 3.125rem;
    a{
        color: #e7e7e7;
        list-style: none;
        font-size: 1.5625rem;
        text-decoration: none;
    }:hover{
        transform: scale(1.2);
        color: #f8ff86;
    }
}

.cart{
    color: white;
}