.container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #3d3d3d;
    border-top: .125rem #f8ff86;
    border-style: double;
}