.container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #3d3d3d;
    border-top: .125rem #f8ff86;
    border-style: double;
}

.loading{
    height: 39.6875rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #3d3d3d;
    border-top: .125rem #f8ff86;
    border-style: double;
}

.skeleton{
    border-style: inset;
    border-color: #f8ff86;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}